<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"></meta>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>FLV to GIF converter | Convert FLV to animated GIF</title>
    <meta name="description" content="Online tool for converting FLV videos to gifs. Upload MP4, AVI, MOV, WEBM, FLV and other video files and create animated gif images.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        $(function() {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
            $("#side-bar").load("side-bar.html");
        });
    </script>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="index.html">VideotoGIFs.com</a>
                </div>
                <!--/.navbar-collapse -->
                <!--/.navbar-collapse -->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="avi-to-gif.html">AVI to GIF</a></li>
                        <li><a href="mp4-to-gif.html">MP4 to GIF</a></li>
                        <li><a href="mov-to-gif.html">MOV to GIF</a></li>
                        <li><a href="webm-to-gif.html">WEBM to GIF</a></li>
                        <li class="active"><a href="flv-to-gif.html">FLV to GIF</a></li>
                        <li><a href="ogv-to-gif.html">OGV to GIF</a></li>
                        <li><a href="mkv-to-gif.html">MKV to GIF</a></li>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>


        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div>
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- videotogifs.com -->
                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5121650239122647" data-ad-slot="2846800687" data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    <div class="well">
                        <h1>FLV to GIF converter!</h1>
                        <p>With this online FLV to GIF converter software, we can easily convert FLV files to gif animated files. This FLV to GIF converter supports mostly all major video extensions like including FLV. </p>
                        <p>After conversion you can simply download and save the gif file to your computer of smart phone. </p>
                        <p>This FLV to GIF converter and convert a video file up to 10MB. The process of conversion may take up to 30 seconds.</p>
                    </div>
                    <div class="well">
                        <form action="https://vidtogif-demo.herokuapp.com/upload/" enctype="multipart/form-data" method="post" id="uploadimage">
                            <div class="form-group">
                                <label for="file">Upload your Video file (MP4/AVI/WEBM/FLV/MOV and other video files),  up to 10MB:</label>

                                <div style="position:relative;">
                                    <a class='btn btn-primary' href='javascript:;'>
			Choose File...
			<input id="myFile" type="file" name="datafile" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;'  size="40"  onchange='$("#upload-file-info").html($(this).val());'>
		</a> &nbsp;
                                    <span class='label label-info' id="upload-file-info"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <input class="btn btn-success" type="submit" value="Upload and Convert">
                            </div>
                        </form>
                        <center>
                            <div class="form-group">
                                <h2 id="demo"></h2>
                                <form>
                                    <progress class="progress form-control" value="0" max="100"></progress><br>
                            </div>
                            </form>
                            <form id="search-form" method="get" action="">
                                <div class="form-group">
                                    <img class="img-responsive" id="CaptchaImg" alt="I Created a Gif using VideotoGIFs.com" style="" />
                                    <button class="btn btn-danger" type="submit">Download!</button>
                                </div>
                            </form>
                        </center>
                    </div>



                    <div class="panel panel-primary">
                        <div class="panel-heading">Animated Gif Maker</div>
                        <div class="panel-body">
                            <p>
                                VideotoGIFs.com is a free online tool which allows you to convert video to gif images easily.
                            </p>
                            <p>If you have spent some time on internet, you will probably know what an animated GIF (Graphics Interchange Format) (better known by its acronym GIF / ɡɪf) is. GIF is an image file which contains animated images, which makes
                                it seem like the image is moving. The GIF image can be created form images (one or more) or videos. GIFs are additions to your marketing. GIFs are easy to consume and provides a way to capture the attention of the viewer.
                                That in turn have the emotional impact on the viewer and they are more likely to share the content. So these GIF images are worth experimenting. The good part about GIFs is that they are not very hard to make.

                            </p>
                            <p>
                                GIF are not new, but now a day they are used more than ever. Brands like the idea of using GIFs in their content because they find GIFs more appealing than normal images. Also the GIFs are cheaper (or sometimes free) to be created if compared to videos.
                                As be known GIFs are mostly few seconds long so their file size is significantly smaller. This make GIFs easy to upload compared to videos. Also auto loop increases the effectiveness of the brand's message. To ad on, we
                                all know the exposure for GIFs integration with popular social networks like Facebook, Twitter, Reddit, Snapchat, Pinterest and many more. (Recently twitter even started its own collection of GIF images to make their use
                                more convenient.) Even though viewers behave differently on every social network, GIFs are still popular in all there social sites.
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">Frequently asked questions (FAQ)</div>
                        <div class="panel-body">
                            <ul>
                                <li><b>What video formats can be converted to GIF using VideoToGifs.com ?</b>
                                    <p>This video converter supports mostly all major video extentions like mp4, flv, avi, wmv, mov, ovg and many more.</p>
                                </li>

                                <li><b>What is the maximum size limit of video to be converted to GIF using VideoToGifs.com ?</b>
                                    <p>This Video to GIF converter and convert a video file up to 10MB.</p>
                                </li>


                                <li><b>What can I do with the Video to GIF converter using VideoToGifs.com ?</b>
                                    <p>With this GIF converter you can convert your videos to animated GIFs online for free.</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- videotogifs.com -->
                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5121650239122647" data-ad-slot="2846800687" data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
                <div class="col-md-3 col-md-pull-9">
                    <!-- Fixed footer -->
                    <div id="side-bar"></div>
                </div>
            </div>
            <hr>
        </div>
        <!-- /container -->
        <!-- Fixed footer -->
        <div id="footer"></div>

        <script src="jquery/dist/jquery.js">
        </script>
        <script src="script.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </body>

</html>
