<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5746e1967d8f4709"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83890831-1', 'auto');
  ga('send', 'pageview');

</script>
<style >
body {
    padding-top: 65px;
}
</style>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <p>&copy; 2016 VideoToGifs.com</p>
        </div>
        <div class="navbar-text pull-left">
            <a href="disclaimer.html">Disclaimer</a>
        </div>
        <div class="navbar-text pull-left">
            <a href="sitemap.xml">Sitemap</a>
        </div>
        <div class="navbar-text pull-right">
            <ul class="list-inline">
                <li><a href="https://www.facebook.com/EasyOnlineConverter"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li><a href="https://twitter.com/ProgrammingKnow"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="https://plus.google.com/+Easyonlineconverter"><i class="fa fa-google-plus fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</div>
