
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <p>&copy; 2016 VideoToGifs.com</p>
        </div>
        <div class="navbar-text pull-left">
            <a href="disclaimer.html">Disclaimer</a>
        </div>
        <div class="navbar-text pull-left">
            <a href="sitemap.xml">Sitemap</a>
        </div>
        <div class="navbar-text pull-right">
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/EasyOnlineConverter"><i class="fa fa-facebook-square fa-2x"></i></a></li>
            <li><a href="https://twitter.com/ProgrammingKnow"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="https://plus.google.com/+Easyonlineconverter"><i class="fa fa-google-plus fa-2x"></i></a></li>
          </ul>
        </div>
    </div>
</div>
