<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- videotogifs.com -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5121650239122647"
     data-ad-slot="2846800687"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- videotogifs.com -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5121650239122647"
     data-ad-slot="2846800687"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="list-group">
    <a class="list-group-item ">
        <img class="img-responsive" src="img/sample-gif.gif" id="sample-image" alt="sample gif image" style="" />
    </a>
    <a class="list-group-item ">
        <img class="img-responsive" src="img/mp4-to-gif4.gif" id="example-image" alt="mp4 example gif image" style="" />
    </a>
    <a class="list-group-item ">
        <img class="img-responsive" src="img/avi-to-gif.gif" id="avi-to-gif-example-image" alt="avi example gif image" style="" />
    </a>
</div>
